<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Breda Construcciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/jetbreda/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-transition.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-alert.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-popover.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-button.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ asset('bundles/jetbreda/js/bootstrap-typeahead.js') }}"></script>


    <!-- Le styles -->
    <link href="{{ asset('bundles/jetbreda/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/jetbreda/css/font-awesome.css')}}" rel="stylesheet">
    
    <style>
        body {
            padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{{ asset('bundles/jetbreda/css/bootstrap-responsive.css')}}" rel="stylesheet">

    <link href="{{ asset('bundles/jetbreda/css/custom.css')}}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script>
        $(function () {
            $('.carousel').carousel({
                interval:2000
            })
        })
    </script>

    {% block extra %}
    {% endblock %}
</head>

<body>
{%block cookies%}{%endblock%}    
{% block background %}
{% endblock %}
<div class="container">
    <a href="{{ path('index') }}"><img src="{{ asset('bundles/jetbreda/assets/logo_ltd.png')}}" width="300px"></a>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse">
                    <ul class="nav">
                        {% block menuHeader %}
                        <li {% if active == 'index' %}class="active"{% endif %}><a
                                href="{{ path('index')}}">{%trans%}menu.header.home{%endtrans%}</a></li>
                        <li {% if active == 'alquiler' %}class="active"{% endif %}><a href="{{ path('alquileres')}}">{% trans %}menu.header.alquileres{%endtrans%}</a>
                        </li>
                        <li {% if active == 'nosotros' %}class="active"{% endif %}><a href="{{ path('nosotros')}}">{%trans%}menu.header.nosotros{%endtrans%}</a></li>
                        <li {% if active == 'contacto' %}class="active"{% endif %}><a href="{{ path('contacto')}}">{%trans%}menu.header.contacto{%endtrans%}</a>
                        </li>

                        {% endblock %}
                    </ul>
                </div>
                {% block extraNavbar %}
                {% endblock %}
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>


    {% block secondHeader %}
    {% endblock %}

    {% block container %}
   


{% endblock %}

<!-- Footer
================================================== -->
<footer class="footer">

    <p>Construcciones Breda S.L.</p>

    <p class="pull-right">
    <a target="_blank" href="{{ asset('bundles/jetbreda/terms_of_use.pdf') }}">{% trans %}contact.terms.2{% endtrans %}</a> - <a target="_blank" href="{{ asset('bundles/jetbreda/privacy.pdf') }}">{% trans %}contact.terms.3{% endtrans %}</a></p>
    <p>Powered by <a href="http://varavan.com">varavan.com</a></p>
</footer>


</div> <!-- /container -->


</body>
</html>