{% extends 'JetBredaBundle::layoutAdmin.html.twig'%}
{% block extra %}
<link href="{{ asset('bundles/jetbreda/css/jquery.cleditor.css')}}" rel="stylesheet">
<script src="{{ asset('bundles/jetbreda/js/jquery.cleditor.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#jet_bredabundle_alquilertype_extra").cleditor();
    });

    $(document).ready(function () {
        $("#jet_bredabundle_alquilertype_descipcion").cleditor();
    });


</script>
{% endblock %}
{% set active = "alquiler"%}

{% block container%}
<h1>Alquiler edit</h1>

<form action="{{ path('admin_alquiler_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_alquiler') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_alquiler_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
        {% endblock %}