{% extends 'JetBredaBundle::layoutAdmin.html.twig'%}

{% set active = "alquiler"%}

{% block container %}
<div class="row">
    <div class="span10 offset1">

        <div class="span4">
            <h1>Información Básica</h1>
            {% if entity.destacado %}<br>
                <div class="alert alert-warning span3">
                   <b class="icon  icon-star"></b> <strong>ALQUILER DESTACADO!</strong>
                </div>
            {% endif %}
            <table class="table details table-condensed">
                <tr><th>Título</th></tr>
                <tr><td>Título</td></tr>

                <tr><th>Tipo</th></tr>
                <tr><td>{{ entity.tipo }}</td></tr>

                <tr><th>Dirección</th></tr>
                <tr><td>{{ entity.direccion }}, {{ entity.postal }}, {{ entity.poblacion }}</td></tr>

                <tr><th>Mapa</th></tr>
                <tr><td>*Recuerda que para cambiar el mapa, debes verificar y editar la dirección del inmueble
    <div id="map_canvas"></div></td></tr>
            </table>
        </div>
        <div class="span4 offset1">
            <br><br>
            <form class="actions form" action="{{ path('admin_alquiler_delete', { 'id': entity.id }) }}" method="post" style="">
                <a href="{{ path('admin_alquiler') }}" class="btn btn-block">Volver a la lista</a>
                <a href="{{ path('admin_alquiler_edit', { 'id': entity.id }) }}" class="btn btn-block btn-info">Editar</a>
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger btn-block">Borrar</button>
            </form>

            <table class="table details table-condensed">
                <tr><th>Descripción</th></tr>
                <tr><td>{{ entity.descipcion|raw }}</td></tr>
                <tr><th>Parámetros Adicionales</th></tr>
                <tr><td>{{ entity.extra|raw }}</td></tr>
            </table>
        </div>
        <div style="clear:both"></div>
        <div class="span9"><h1>Galería</h1></div>
        <div style="clear:both"></div><br>
        <div class="span4">
            <h4>Imágenes</h4>
            <table class="table details table-condensed">
                {% if entity.fotos is not empty %}
                {% for foto in entity.fotos %}
                <tr><th>{{ foto.descripcion }}</th></tr>
                <tr><td><img src="{{ asset(foto.webPath) }}" title="{{ entity.poblacion }}" width="200px"><br>
                    <a href="{{ path('admin_alquiler_deleteFoto', {'id': foto.id})}}" class="btn btn-danger btn-block">Eliminar imágen</a></td></tr>
                {% endfor %}
                {% else %}
                <tr><th>No hay ninguna foto.</th></tr>
                {% endif %}
            </table>
        </div>
        <div class="span4 offset1">
            <h4>Añadir Imágen</h4>
            <form class="form-horizontal" method="post" {{ form_enctype(fotoForm) }}>
            <table class="table details table-condensed">
                <tr><th>Descripción</th></tr>
                <tr><td>{{ form_widget(fotoForm.descripcion)}}</td></tr>
                <tr><th>Archivo</th></tr>
                <tr><td>{{ form_widget(fotoForm.file)}}</td></tr>
            </table>
            {{ form_rest(fotoForm) }}
            <input type="submit" class="btn btn-success" value="Añadir imágen">
            </form>
        </div>
        

<div style="clear: both; margin-top:"></div>

</div>
</div>


        {% endblock %}

{% block extra %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es"></script>
    <script src="{{  asset('bundles/jetbreda/js/gmap3.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            $("#map_canvas").width("370px").height("250px").gmap3({
                marker:{
                    address: "{{ entity.direccion }}, {{  entity.poblacion }}"
                },
                map:{
                    options:{
                        zoom: 15
                    }
                }
            });
        });
    </script>

{% endblock %}