{% extends 'JetBredaBundle::layoutAdmin.html.twig'%}

{% set active = "alquiler"%}

{% block container%}
<h1>Alquiler en {{ entity.direccion }}, {{ entity.poblacion }}</h1>

<div class="row">
    <div class="span4 well">
        <h3>{{ entity.tipo }} en {{ entity.poblacion }}</h3>
        <h4>{{ entity.direccion }}</h4> <h6>{{ entity.postal }}</h6>
        <hr class="soften">
        <h5>Descripción</h5>
        {{ entity.descipcion|raw }}
    </div>

    <div class="span4 well">
        <h5>Parámetros adicionales</h5>
        {{ entity.extra|raw}}
    </div>
</div>


<div class="row" style="margin-top: 40px;">

    <div class="span8">
        <h2>Galería</h2>
        {% if entity.fotos is not empty %}
        {% for foto in entity.fotos %}
        <div class="span2 well">
            <p><img src="{{ asset(foto.webPath) }}" title="{{ entity.poblacion }}" width="200px"></p>
            
            <p><small>{{ foto.descripcion }}</small></p>
            <p><a href="{{ path('admin_alquiler_deleteFoto', {'id': foto.id})}}" class="btn btn-danger">Eliminar imágen</a></p>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info">
            <strong>Información!</strong> No has añadido ninguna foto
        </div>
        {% endif %}
    </div>

</div>
<div class="row" style="margin-top: 20px; margin-bottom: 20px">
    <div class="span8">
        <form method="post" enctype="multipart/form-data">
            {{ form_widget(fotoForm)}}
            <input type="submit" class="btn btn-success" value="Añadir imágen">
        </form>


    </div>
</div>


<a href="{{ path('admin_alquiler') }}" class="btn">
    Volver a la lista
</a>

<a href="{{ path('admin_alquiler_edit', { 'id': entity.id }) }}" class="btn btn-info">
    Editar
</a>

<form action="{{ path('admin_alquiler_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger">Borrar</button>
</form>

        {% endblock %}