{% extends '::base.html.twig'%}
        {% set active = 'alquiler' %}
{% block container %}
<div class="row">
	<div class="span4 offset1">
		<div class="btn-group" data-toggle="buttons-radio">
		  <button class="btn active"><b class="icon icon-inbox"></b> Naves</button>
		  <button class="btn"><b class="icon icon-briefcase"></b> Locales</button>
		  <button class="btn"><b class="icon icon-home"></b> Pisos</button>
		</div>
	</div>
	<div class="span3 offset4">
	<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Orden
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Mayor Superficie</a></li>
    <li><a href="#">Menor Superficie</a></li>
  </ul>
</div>

	</div>
</div>
<br><br>
<div class="row">
	<div class="span10 offset1">
    {% for entity in Alquileres %}

	<div class="span8 offset1">
 	        	<h3>{{ entity.titulo }}</h3><hr>
		<div class="image">
		 	           <a href="{{ path('alquiler', {'id': entity.id}) }}"><img src="{{ asset(entity.fotos.0.webPath)}}" width="200px"></a>

		</div>
		<div class="content">
		{{ entity.descipcion|raw }}<br>
		
        {% if entity.fotos is not empty %}
        {% for foto in entity.fotos %}
			<img src="{{ asset(foto.webPath) }}" title="{{ entity.poblacion }}" height="40px">
          {% endfor %}
          {% endif %}
		</div>
		<div style="clear:both"></div>
		<a class="btn pull-right btn-primary" href="{{ path('alquiler', {'id': entity.id}) }}">Ampliar detalles</a>
	</div><br><br>
	{% endfor %}
    </div>
</div>

{% endblock %}