{% extends '::base.html.twig'%}
        {% set active = 'alquiler' %}
{% block container %}
<div class="row" style="margin-top: 50px">
	<div class="span4 offset1">
		<div class="btn-group" data-toggle="buttons-radio">
		  <a href="{{ path('alquileres',{'order':order,'type':'nave'}) }}" class="btn{% if type == 'nave' %} active{% endif%}"><b class="icon icon-inbox"></b> {% trans %}Naves{% endtrans %}</a>
		  <a href="{{ path('alquileres',{'order':order,'type':'despacho'}) }}" class="btn{% if type == 'despacho' %} active{% endif%}"><b class="icon icon-briefcase"></b> {% trans %}Despachos{% endtrans %}</a>
		  <a href="{{ path('alquileres',{'order':order,'type':'piso'}) }}" class="btn{% if type == 'piso' %} active{% endif%}"><b class="icon icon-home"></b> {% trans %}Pisos{% endtrans %}</a>
		</div>
	</div>
	<div class="span3 offset4">
	<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Orden
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ path('alquileres',{'order':'DESC','type':type}) }}">{% trans %}De mayor a menor Superficie{% endtrans %}</a></li>
    <li><a href="{{ path('alquileres',{'order':'ASC','type':type}) }}">{% trans %}De menor a mayor Superficie{% endtrans %}</a></li>
  </ul>
</div>

	</div>
</div>
<br><br>
<div class="row">
	<div class="span10 offset1" style="margin-bottom: 200px;">
    {% for entity in Alquileres %}

	<div class="span8 offset1">
 	        	<h3>{{ entity.titulo }}</h3><hr>
		<div class="image">

		 	           <a href="{{ path('alquiler', {'id': entity.id}) }}">
                            {%  if entity.fotos is not empty %}
                            <img src="{{ asset(entity.fotos.0.webPath)}}" width="200px">
                            {%  else %}
                                <h6>{% trans %}No foto{% endtrans %}</h6>
                            {% endif %}
                        </a><br>
                        <b> {% trans %}Superficie{% endtrans %}:</b> {{ entity.superficie }} m<sup>2</sup>

		</div>
		<div class="content">
		{{ entity.descipcion|raw }}<br>
		
        {% if entity.fotos is not empty %}
        {% for foto in entity.fotos %}
			<img src="{{ asset(foto.webPath) }}" title="{{ entity.poblacion }}" height="40px">
          {% endfor %}
          {% endif %}
		</div>
    <div id="map_canvas{{ entity.id }}" style="margin-left: 30px"></div>
		<div style="clear:both"></div>
		<a class="btn pull-right btn-primary" href="{{ path('alquiler', {'id': entity.id}) }}">{% trans %}Ampliar detalles{% endtrans %}</a>
	</div><br><br>
	{% else %}
	<form class="form-horizontal">

    <fieldset>
        <legend>{% trans %}Sección en Obras!{% endtrans %}</legend>
        <h4>{% trans %}Actualmente, estamos trabajando para actualizar el contenido de esta sección, si tienes alguna duda o sugerencia, contacta con nosotros a través de la{% endtrans %} <a href="{{ path('contacto') }}">{% trans %}página de contacto{% endtrans %}</a>.</h4>
        <h5>{% trans %}Gracias{% endtrans %}.</h5>
    </fieldset>
<form>
	{% endfor %}
    </div>
</div>

{% endblock %}

{% block extra %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es"></script>
        <script src="{{  asset('bundles/jetbreda/js/gmap3.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {
         {% for entity in Alquileres %}
            $("#map_canvas{{ entity.id }}").width("600px").height("200px").gmap3({
                marker:{
                    address: "{{ entity.direccion }}, {{  entity.poblacion }}"
                },
                map:{
                    options:{
                        zoom: 15
                    }
                }
            });
          {% endfor %}
        });
    </script>

{% endblock %}