{% extends '::base.html.twig'%}

{% set active = "alquiler"%}

{% block container%}
<div class="row" style="margin-top: 50px">
	<div class="span10 offset1">
		<h1>{{ entity.titulo }}</h1>
		<hr>
		<div class="span7">
		<h6>Descripción</h6>
		{{ entity.descipcion|raw }}<br>
		{% if entity.extra is not null %}<br><br>
		<h6>Información Adicional</h6>
		{{ entity.extra|raw }}
		{% endif %}
		</div>
		<div class="span2">
		<h6>Detalles</h6>
		<b>Superficie:</b> {{ entity.superficie }}<br>
		<b>Población:</b> {{ entity.poblacion }}, {{ entity.postal }}<br>
		<b>Dirección:</b> {{ entity.direccion }}
		<b>Tipo:</b> {{ entity.tipo }}<br>
		<b>Mapa:</b>
		</div>
		
	</div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="span10 offset1">
        <h3>Galería de fotos</h3><hr>
        {% if entity.fotos is not empty %}
        {% for foto in entity.fotos %}
            <img src="{{ asset(foto.webPath) }}" title="{{ entity.poblacion }}" height="100px">
			{#
            <p><a href="{{ path('admin_alquiler_deleteFoto', {'id': foto.id})}}" class="btn btn-danger">Eliminar
                imágen</a></p>
#}
        {% endfor %}
        <br><br>
        
         <div id="myCarousel2" class="carousel slide">
            <div class="carousel-inner">
        {% for foto in entity.fotos %}
   
              <div class="item">
                <img src="{{ asset(foto.webPath) }}" alt="">
                <div class="carousel-caption">
                  <h4>{{ foto.descripcion }}</h4>
                </div>
              </div>
                      {% endfor %}

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          
          </div>
          
          
        
        
        {% else %}
        <div class="alert alert-info">
            <strong>Información!</strong> No has añadido ninguna foto
        </div>
        {% endif %}
    </div>

</div>
	<br>
	<center>
	<a class="btn btn-primary" href="{{ path('alquileres') }}">Volver Atrás</a>
	</center>
<div style="padding-top: 40px;"></div>

        {% endblock %}