{% extends '::base.html.twig'%}
{% set active = 'contacto' %}
{% block container %}
<div class="row">
<div class="span8 offset1">
{% if form is not defined %}
<form class="form-horizontal" style="margin-top: 50px">

    <fieldset>
        <legend>Formulario de contacto</legend>
        <h4>Se ha enviado un email con tu información de contacto a <a href="mailto:info@construccionesbreda.com">info@construccionesbreda.com</a>, nos pondremos en contacto contigo para ofrecerte más información lo antes posible.</h4>
        <h5>Gracias.</h5>
    </fieldset>
<form>
{% else %}
<form class="form-horizontal" style="margin-top: 50px" method="POST" action="{{ path('contacto') }}">

    <fieldset>
        <legend>Formulario de contacto</legend>
        <div class="control-group">
            <label class="control-label" for="nombre">Persona de Contacto</label>

            <div class="controls">
                {{form_widget(form.persona)}}

                <p class="help-block"><i>Obligatorio</i> (Nombre y Apellidos)</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Correo electrónico</label>

            <div class="controls">
                {{form_widget(form.email)}}

                <p class="help-block"><i>Obligatorio</i></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="nombre">Teléfono de contacto</label>

            <div class="controls">
                {{form_widget(form.telefono)}}

                <p class="help-block"><i>Obligatorio</i></p>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="textarea">Consulta</label>

            <div class="controls">
                {{form_widget(form.consulta)}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="check"></label>
            <div class="controls">
                <input type="checkbox" id="formCheckbox" value="true"> <span>He leído y acepto los <a target="_blank" href="{{ asset('bundles/jetbreda/terms_of_use.pdf') }}">Términos y Condiciones</a>.</span>
            </div>
        </div>
        <script>
            $(function(){
                $("#formCheckbox").click(function(){
                    if($(this).attr("checked") == "checked"){
                        $("#submitButton").removeAttr("disabled")
                    }else{
                        $("#submitButton").attr("disabled","disabled")
                    }
                });
            })
        </script>
        {{form_rest(form)}}
        <div class="form-actions">
            <button id="submitButton" type="submit" disabled="disabled" class="btn btn-primary">Enviar formulario</button>

        </div>
    </fieldset>
</form>
{% endif %}
</div>
<div class="span2" style="padding: 30px; padding-top: 50px">
	    		<img src="{{ asset('bundles/jetbreda/img/breda.png') }}"><br>
<b>Dirección:</b>
<p class="pull-right">C/ Riera Sant Miquel nº 3 s/atico 1ª</p>
<div style="clear:both; padding-top: 10px;"></div>
<b>Horario comercial:</b> 
<p class="pull-right">9:00h - 13:30h</p>
<div style="clear:both; padding-top: 10px;"></div>
<b>Telefono Fijo:</b> 
<p class="pull-right">93 218 00 40</p>
<b>Fax:</b> 
<p class="pull-right">93 218 00 41</p>
<div style="clear:both; padding-top: 10px;"></div>
</div>
</div>
        {% endblock%}